.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}



/* .nav-default {
  background-color: #CC0000;
  border-color: #AA0000;
  border-radius: 0;
}

.nav-default .navbar-brand,
.nav-default .navbar-brand:hover,
.nav-default .navbar-brand:focus {
  color: #FFF;
}

.nav-default .navbar-nav > li > a {
  color: #FFF;
}

.nav-default .navbar-nav > li > a:hover,
.nav-default .navbar-nav > li > a:focus {
  background-color: #AA0000;
}

.nav-default .navbar-nav > .active > a,
.nav-default .navbar-nav > .active > a:hover,
.nav-default .navbar-nav > .active > a:focus {
  color: #FFF;
  background-color: #AA0000;
}

.nav-default .navbar-text {
  color: #FFF;
}

.nav-default .navbar-toggle {
  border-color: #AA0000;
}

.nav-default .navbar-toggle:hover,
.nav-default .navbar-toggle:focus {
  background-color: #AA0000;
}

.nav-default .navbar-toggle .icon-bar {
  background-color: #FFF;
} */

/* #hello{
  font-size: 100px;
  color: #FFF;
}

#time{
  font-size: 5px;
  color: #FFF;
}

#eventMonth{
  font-size: 5px;
  color: #FFF;
} */